/.idea/
/.settings/
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings

### Data ###
/docker-compose/Data/

### IntelliJ IDEA ###
.idea
/*.env
*.iws
*.iml
*.ipr

/question_answer.iml

.DS_Store