/.idea/
/.settings/
/target/archive-tmp/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
/target/java-basic.xml
/target/java-empty.xml
/target/java-imports.xml
/target/java-unnecessary.xml
/target/java-unusedcode.xml
/target/pmd.xml
/target/question_answer-0.1.0.jar
/target/spotbugsXml.xml
