version: '3.3'
services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'question_answer'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    container_name: mysql-database
    volumes:
      - mysql-data:/var/lib/mysql

  jenkins:
    image: jenkins:lastest
    restart: unless-stopped
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins
    volumes:
      - jenkins-data:/var/jenkins_home


volumes:
  mysql-data:
  jenkins-data: